[submodule "UnityProject/Rocket/Assets/Hunter"]
	path = UnityProject/Rocket/Assets/Hunter
	url = git@github.com:3493000/Hunter.git
[submodule "UnityProject/Rocket/Assets/SDKAdapter"]
	path = UnityProject/Rocket/Assets/SDKAdapter
	url = git@github.com:3493000/SDKAdapter.git
